/*
    Broadway Design - Codecademy Project Unit 3
    Global
*/
body {
  text-align: center;
}
li {
  list-style: none;
}
a {
  font-family: Helvetica;
  color:white;
}
p {
  font-family: Helvetica;
  font-size: 14px;
  color: black;
}
/*
    Headers
*/
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  color: black;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: : bold;
  color: black;
}
/*
    Special Classes
*/
.hero {
/* I am puzzled by this. How do you do relative/absolute paths? */
  background-image: url('https://github.com/jcmedina/broadway/blob/master/resources/images/the-flatiron-building.png?raw=true');
}
.about-special {
  background-image: url('https://github.com/jcmedina/broadway/blob/master/resources/images/the-flatiron-building.png?raw=true');
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.copyright {
  font-size: 8px; 
}
